# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
.next/
out/
dist/
build/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/

# Vercel
.vercel

# TypeScript cache
*.tsbuildinfo

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Apps specific
apps/portal-backend/node_modules/
apps/portal-backend/.next/
apps/portal-backend/.env.local
apps/portal-backend/.env

*.mp4
*.js
*.svg
*.png
*.css
*.html
*.pb
*.db
/apps/portal-backend/.codex-chrome-gui
*.store
/apps/portal-backend/.codex-chrome-profile/Default
*.4_13420725444557343
*.4_13420755105965447
*.4_13420733319399613
*.32_13420725444557526
*.32_13420725444528496
*.tflite
*.gz
*.4_13420730846107378
*.4_13420755105963110
*.4_13420733319395515
*.4_13420755105958229
*.model
*.32_13420725444555548
*.4_13420733319390684
*.binarypb
*.4_13420755105960299
*.txt
*.json
/apps/portal-backend/.codex-chrome-profile/CertificateRevocation/10465
*.pma
/apps/portal-backend/.codex-chrome-profile/component_crx_cache
/apps/portal-backend/.codex-chrome-profile/component_crx_cache
/apps/portal-backend/.codex-chrome-profile/Crowd Deny/2026.4.13.61
/apps/portal-backend/.codex-chrome-profile
/apps/portal-backend/.codex-chrome-profile/GraphiteDawnCache
/apps/portal-backend
/apps/portal-backend/app/internal/advogada/atendimento
