# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
.next/
out/
dist/
build/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/

# Vercel
.vercel

# TypeScript cache
*.tsbuildinfo

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Apps specific
apps/portal-backend/node_modules/
apps/portal-backend/.next/
apps/portal-backend/.env.local
apps/portal-backend/.env


# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
