NEXT_PUBLIC_APP_URL=http://127.0.0.1:3000
NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=publishable_key_test
SUPABASE_SECRET_KEY=secret_key_test
CHANNEL_ENABLE_PHASE12_JOURNEY_ORCHESTRATION=true
CHANNEL_ENABLE_PHASE12_EXECUTIVE_DASHBOARD=true
CHANNEL_ENABLE_PHASE12_EXTERNAL_DISPATCH_PREPARATION=true
